<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>图书馆管理系统</title>
    <link href="/login/css/a.css" rel="stylesheet" type="text/css" />
    <link href="/login/css/style1.css" rel="stylesheet" type="text/css" />
</head>

<body style="background-color:#ffffff">
<!--<body style="background-color:#ffffff; background-image:url(static/login/img/light1.png); background-repeat:no-repeat; background-position:center top; overflow:hidden;">-->

<!--首页为此页面，点击不同的系统都要先进入登录注册页面，login，如果已经登录的话可以进入管理页面-->
<div class="logintop">
    <span>欢迎进入信息管理系统</span>
    <ul>
        <li><a href="#">回首页</a></li>
        <li><a href="#">帮助</a></li>
        <li><a href="#">关于</a></li>
    </ul>
</div>

<div class="loginbody">
    <span class="systemlogo"></span>
    <div class="loginbox0">
        <ul class="loginlist">
            <li><a href="/toLoginPage/1"><img src="/login/img/l01.png"  alt="管理员系统"/><p>图书馆管理员<br />管理系统</p></a></li>
            <li><a href="/toLoginPage/2"><img src="/login/img/l02.png"  alt="读者系统"/><p>图书馆读者<br />管理系统</p></a></li>
        </ul>
    </div>

</div>

<div class="loginbm">版权所有  软件2104 &nbsp;&nbsp;&nbsp; <strong>xxy.com</strong> &nbsp;&nbsp;&nbsp;</div>


</body>

</html>
